<form #f="ngForm" (ngSubmit)="f.form.valid && changerPassword(f)">
  <table>







    <tr  >
      <td>Ancien Mot de passe</td>
      <td>
        <p-password [(ngModel)]="password.oldPassword"
                    name="oldPassword"
                    [feedback]="false"
                    [toggleMask]="true" required
                    #pwd1="ngModel" ></p-password>

        <small *ngIf="f.submitted && pwd1.invalid"
               class="p-error">Ancien Mot de passe réquis</small>


      </td>
    </tr>


    <tr  >
      <td>Nouveau Mot de passe</td>
      <td>
        <p-password [(ngModel)]="password.newPassword" name="password"
                    [feedback]="false"
                    [toggleMask]="true" required
                    #pwd="ngModel" ></p-password>

        <small *ngIf="f.submitted && pwd.invalid"
               class="p-error">Nouveau Mot de passe réquis</small>


      </td>
    </tr>

    <tr >
      <td>Confirmer Mot de passe</td>
      <td>
        <p-password [(ngModel)]="password.confirmPassword"
                    name="confirmPwd"
                    [feedback]="false"
                    [toggleMask]="true"
                    #pwd2="ngModel" required
                    [pattern]="password.newPassword"></p-password>


        <small *ngIf="f.submitted && pwd2.invalid"
               class="p-error">
          <span *ngIf="pwd2?.errors?.required">Confirmer mot de passe  réquis</span>
          <span *ngIf="pwd2?.errors?.pattern">
          Les mots de passe ne sont pas identiques
        </span>

        </small>

      </td>
    </tr>



    <tr>
      <td>
        <button pButton label="Annuler"
                type="reset"
                class="p-button-danger" ></button>
      </td>

      <td>
        <button type="submit"
                pButton label="Modifier mot de passe"

                class="p-button-success" ></button>


      </td>
    </tr>


  </table>
</form>
